{% extends "base.html" %}
{% block title %}Principal{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Bienvenidos a su gestor de cursos</h1>
  <p class="lead">Esta es su applicacion que le permitira gestionar los cursos y estudiantes de la manera adecuada</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
{% endblock %}
